# Used this to configure sqlite
# Point this to the configuration above that you wish to use
sqlite: &go_sqlite
  adapter: sqlite
  database: development.db
  verbosity: quiet
# Use this to configure mysql
mysql: &go_mysql
  encoding: utf8
  reconnect: true
  adapter: mysql2
  username: go
  database: go
  host: localhost
  port: 3306
  password: password
go_db:
  <<: *go_sqlite

